// Specific CSS for your home-page
.banner {
  height: 100vh;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}


.text-on-image {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  text-align: center;
}

.curvy {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  margin-top: 20px;
}

.curvy-text {
  font-family: 'Caveat', cursive;
  color: white;
  font-size: 34px;
  text-shadow: 1px 3px 6px rgba(0,0,0,0.5);
}

.how-to {
  padding: 20px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: #f874362a;
  border-radius: 50%;
}

.how-to > h6 {
  padding-top: 40px;
  text-align: center;
  font-family: 'Caveat', cursive;
  color: rgb(20, 20, 20);
  font-size: 26px;
}

.how-to > img {
  object-fit: fill;
  width: 70%;
  margin-left: auto;
  margin-right: auto
}

.img_preview {
  width: 100% !important;
}
