#new_stock {
  display: flex ;
}
.stock_product {
  flex-grow: 1;
}

#new_grocery_product {
  display: flex ;
}
.grocery_product_product {
  flex-grow: 1;
}

.input-search {
  height: 48px;
  padding: 10px 5px;
  font: bold 15px;
  border: 0;
  background: rgb(255, 255, 255);
  border-radius: 8px 0px 0px 8px;  
}

.select2-selection--single {
  height: 48px !important;
  padding: 10px 5px !important;
  font: bold 15px !important;
  border: 0 !important;
  background: rgb(255, 255, 255)!important;
  border-radius: 8px 0px 0px 8px !important;  
}

.select2-selection__arrow {
  top: 12px !important;
}

.select2-results__option--highlighted{
  background-color: #0fa05e !important;
}

.select2-dropdown {
  border-radius: 0px 0px 8px 8px !important;
  box-shadow: 0px 16px 16px -1px  rgba(0,0,0,0.5);
  border: none !important;
}

.btn-search {
  border: 0;
  height: 48px;
  cursor: pointer;
  display:flex;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  color: #fff !important;;
  text-transform: uppercase;
  background-color: #01964e;
  border-radius: 0px 8px 8px 0px ;      
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
  font-weight: 600;
  font-family: "Poppins";
}

.btn-search:hover {
  text-decoration: none;
  color: #fff !important;
  background-color: #0fa05e;
} 

.list-background {
  background-color: rgba(255, 255, 255, 0.788);
  padding: 20px;
  border-radius: 8px;
}

.list-background h5 {
  margin-bottom: 16px;
}

.product-name {
  margin: 0px;
  font-weight: 700;
  color: rgb(65, 65, 65);
}

.cross {
  font-size: 14px;
  text-decoration: none;
}

.cross:hover {
  text-decoration: none;
}