.card-trip {
  overflow: hidden;
  background: white;
  color: #333333;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin-bottom: 1rem;
}

.card-trip:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  cursor: pointer;
}

.card-trip h2 {
  color: #01964e;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-title {
  color: #01964e;
}

.card-trip h3 {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}

.card-trip-img {
  min-height: 150px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-trip-infos {
  margin: 16px;
}

.card-trip-pricing {
  position: absolute;
  right: 16px;
  top: 16px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 8px 8px;
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.card-trip-pricing > h6 {
  margin: 0px;
  font-size: 14px;
  
}

.card-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  cursor: pointer;
  border-radius: 4px;
}

.card-show-img {
  width: 100%;
  padding: 20px;
}

.my-farm-info {
  border-radius: 8px;
  background-color: rgba(169, 169, 169, 0.116);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 40px;
  margin-top: 40px;
}

.my-farm-info-card {
  background-size: cover;
  background-position: center;
  height: 70px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-grocery {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  color: #494949;
}

.card-grocery h5 {
  color: #333333;
}


.farm-address {
  font-size: 13px;
  color: #707070 !important;
}

